{% extends 'layout.html' %}


{% block contenido %}
<h1 style="margin: 0 20px 20px 40px; color: #3b3934; display: flex; align-items: center;">{{ titulo }}</h1> 

<div class="m-4 p-4 border rounded" style="background-color: #eee4c4;">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Nombre del Usuario</th>
        <th scope="col">ID de usuario	</th>
        <th scope="col">N° identificación</th>
        <th scope="col">Rol o perfil</th>
        <th scope="col">Correo electronico</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>

    <tbody>
      {% for usuario in usuarios %}
       <tr>
        <th scope="row">{{usuario.nombre_usuario}}</th>
        <td>{{usuario.id_usuario}}</td>
        <td>{{usuario.identificacion_usuario}}</td>
        <td>{{usuario.rol_perfil}}</td>
        <td>{{usuario.email_usuario}}</td>

        <td style="white-space: nowrap;"> 
              <a href="{{ url_for('editar_usuario', id=usuario.id) }}" class="btn btn-success btn-sm me-1" 
                style="font-size: 0.7rem; padding: 2px 6px;" title="Editar usuario {{ usuario.descripcion }}">Editar
              </a>
              <form action="{{ url_for('eliminar_usuario', id=usuario.id) }}" 
                  method="POST" 
                  style="display:inline;">
                <button type="submit" 
                    class="btn btn-danger btn-sm" 
                    style="font-size: 0.7rem; padding: 2px 6px;" 
                    title="Borrar usuario {{ usuario.descripcion }}"
                    onclick="return confirm('¿Seguro que deseas eliminar este usuario?');">Borrar
                </button>
              </form>
            </td>
          </tr>
      {% endfor %}

      

    </tbody>
  </table>
</div>
{% endblock contenido %}
    