{% extends 'layout.html' %}


{% block contenido %}


<h1 style="color: #3b3934; display: flex; align-items: center; justify-content: center;">
  <img src="{{ url_for('static', filename='img/ok.avif') }}" alt="Logo" style="height: 30px; margin-left: 10px;">{{ titulo }}</h1> 

<div class="mx-4 my-2 px-4 py-2 border rounded" style="background-color: #cec299;"></div>


 <table class="table table-bordered table-hover text-center align-middle">
  <thead class="thead-dark">
      <tr>
        <th scope="col">Codigo</th>
        <th scope="col">Descripción</th>
        <th scope="col">Precio</th>
        <th scope="col">Unidad de Medida</th>
        <th scope="col">Categoria</th>
        <th scope="col">Forma de pago</th>
        <th scope="col">N° Identificación</th>
        <th scope="col">Nombre del cliente</th>
        <th scope="col">Fecha de nacimiento</th>
        <th scope="col">Correo electronico</th>
        <th scope="col">ID de usuario	</th>
        <th scope="col">Nombre del Usuario</th>
        <th scope="col">N° identificación</th>
        <th scope="col">Rol o perfil</th>
        <th scope="col">Correo electronico</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>

    <tbody>
      {% for factura in facturas %}
      <tr>
        <th scope="row">{{factura.codigo}}</th>
        <td>{{factura.descripcion}}</td>
        <td>{{factura.precio_unitario}}</td>
        <td>{{factura.unidad_medida}}</td>
        <td>{{factura.categoria_rel.nombre_categoria}}</td>
        <td>{{factura.forma_pago_factura}}</td>
        <td>{{factura.identificacion_cliente}}</td>
        <td>{{factura.nombre_cliente}}</td>
        <td>{{factura.fecha_cliente}}</td>
        <td>{{factura.email_cliente}}</td>
        <td>{{factura.id_usuario}}</td>
        <td>{{factura.nombre_usuario}}</td>
        <td>{{factura.identificacion_usuario}}</td>
        <td>{{factura.rol_perfil}}</td>
        <td>{{factura.email_usuario}}</td>

        <td style="white-space: nowrap;"> 
              <a href="{{ url_for('editar_factura', id=factura.id) }}" class="btn btn-success btn-sm me-1" 
                style="font-size: 0.7rem; padding: 2px 6px;" title="Editar factura {{ factura.descripcion }}">Editar
              </a>
              <form action="{{ url_for('eliminar_factura', id=factura.id) }}" 
                  method="POST" 
                  style="display:inline;">
                <button type="submit" 
                    class="btn btn-danger btn-sm" 
                    style="font-size: 0.7rem; padding: 2px 6px;" 
                    title="Borrar factura {{ factura.descripcion }}"
                    onclick="return confirm('¿Seguro que deseas eliminar esta factura?');">Borrar
                </button>
              </form>
            </td>
          </tr>
      {% endfor %}

      
    </tbody>
  </table>     
</div>

{% endblock contenido %}